* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    padding: 50px 150px;
    background-color: #87ceeb;
}
.header-logo {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
.typewrite {
    text-decoration: none;
    color: black;
}
.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nav-item {
    padding-left: 15px;
    font-weight: 500;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-text {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
#nav-active {
    font-weight: 900;
}
i {
    color: rgb(255, 0, 221);
}