* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header Section */

.header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    flex-direction: row;
    padding: 50px 150px;
    background-color: #528AAE;
    border-bottom: solid 2px #2E5984;
}
body {
    background-color: #ffffff;
}

.typewrite {
    text-decoration: none;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: 900;
}

/* Naviagation */
.nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.nav-item {
    padding-left: 15px;
    font-weight: 500;
    font-size: 16px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nav-text {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.nav-text:hover {
    color: white;
}
#nav-active {
    font-weight: 900;
}
i {
    color: #2E5984;
}
/* End Of Header Section */


/* Hero Section */

.container .hero {
    display: flex;
    align-items: center;
    height: auto;
    padding: 100px 100px;
    justify-content: space-between;
}
.hero-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
}

.hero-header {
    padding-bottom: 10px;
    display: flex;
}

.hero-desc {
    display: flex;
    text-align: center;
}
.hero-desc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.container .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-button {
    margin: 10px;
    background-color:#528AAE;
    padding: 10px;
    border: 1px solid #2E5984;
    border-radius: 3px;
    margin: 10px;
    font-size: 15px;
}
/* End Of Hero Section */

/* Main Section */

/* End Of Main Section */

/* Footer Section */

/* End Of Footer Section */

/* Responsive Section */
@media only screen and (max-width: 900px) {
    .header {
        display: flex;
        align-content: center;
        justify-content:center;
        align-items: ;
        gap: 15px;
        flex-direction: column;
        padding: 30px 10px;
        height: 100px;
    }
    .nav ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .nav-item {
        padding-left: 15px;
        font-weight: 500;
        font-size: 12px;
        display: flex;
        justify-content: center;
    }
    .typewrite {
        font-size: 20px;
    }
    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nav-text {
        padding-left: 5px;
    }
    .container .hero {
        display: flex;
        align-items: center;
        height: auto;
        padding: 0px 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    img {
        max-width: 380px;
    }
}
